body {
    background: url("https://upload.wikimedia.org/wikipedia/en/6/6c/Playboi_Carti_-_Whole_Lotta_Red.png");
    text-align: center;
}

h1 {
  color:red;
  display: flex;
  justify-content: center;
}

p {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    border: solid black 13px;
    padding: 13px;
}

p1 {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    border: solid black 13px;
    padding: 13px;
}

p2 {
    background-color: white;
    color: red;
    display: flex;
    justify-content: center;
    border: solid black 21px;
    padding: 21px;
}

p3 {
    background-color: red;
    color: red;
    display: flex;
    justify-content: center;
    border: solid black 10px;
    padding: 100px;
}

