body {
  background-color: black;
}

h1 {
  color: red;
  display: flex;
  justify-content: center;
}

p {
  background-color: red;
  color: black;
  display: flex;
  justify-content: center;
  border: solid black 13px;
  padding: 13px;
}

p1 {
  background-color: red;
  color: black;
  display: flex;
  justify-content: center;
  border: solid black 13px;
  padding: 13px;
}

p2 {
  background-color: red;
  color: black;
  display: flex;
  justify-content: center;
  border: solid black 21px;
  padding: 21px;
}

p3 {
  background-color: red;
  color: black;
  display: flex;
  justify-content: center;
  border: solid black 10px;
  padding: 121px;
}

img {
  width: 70px;
}
