body {
  background-color: black;
  text-align: center;
}

h1 {
  color: red;
  display: flex;
  justify-content: center;
  font-family: "Supermercado One", cursive;
}

input,
button {
  font-family: "Supermercado One", cursive;
}

p {
  background-color: red;
  color: black;
  display: flex;
  justify-content: center;
  border: solid black 13px;
  padding: 13px;
  font-family: "Supermercado One", cursive;
}

p1 {
  background-color: red;
  color: black;
  display: flex;
  justify-content: center;
  border: solid black 13px;
  padding: 13px;
  font-family: "Supermercado One", cursive;
}

p2 {
  background-color: red;
  color: black;
  display: flex;
  justify-content: center;
  border: solid black 10px;
  padding: 121px;
  font-family: "Supermercado One", cursive;
}

img {
  width: 121px;
}
